# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [31]:
import numpy as np

import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
customer_data = pd.read_csv(url)
customer_data

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
customer_data.shape

(4008, 11)

In [66]:
customer_data["number_of_open_complaints"].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [69]:
customer_data.columns = customer_data.columns.str.lower().str.replace(" ", "_")


customer_data["number_of_open_complaints"] = (
    customer_data["number_of_open_complaints"]
        .str.split("/")
        .str[0]
        .astype("Int64")
)

#df["customer_lifetime_value"] = (
#    df["customer_lifetime_value"]
#        .str.replace("%", "")
#        .astype(float)
#)

customer_data.dtypes

customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints      Int64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [70]:
print(f"Customer: ", customer_data.customer.nunique())
print(f"ST: ", customer_data.st.nunique())
print(f"Gender: ", customer_data.gender.nunique())
print(f"Education: ", customer_data.education.nunique())
print(f"Customer Lifetime Value: ", customer_data.customer_lifetime_value.nunique())
print(f"Income: ", customer_data.income.nunique())
print(f"Monthly Premium Auto: ", customer_data.monthly_premium_auto.nunique())
print(f"Number of Open Complaints: ", customer_data.number_of_open_complaints.nunique())
print(f"Policy Type: ", customer_data.policy_type.nunique())
print(f"Vehicle Class: ", customer_data.vehicle_class.nunique())
print(f"Total Claim Amount: ", customer_data.total_claim_amount.nunique())

Customer:  1071
ST:  8
Gender:  5
Education:  6
Customer Lifetime Value:  1027
Income:  774
Monthly Premium Auto:  132
Number of Open Complaints:  1
Policy Type:  3
Vehicle Class:  6
Total Claim Amount:  761

In [71]:
customer_data[["customer", "st", "gender", "education", "policy_type", "vehicle_class"]].describe(include = "all")

       customer      st gender education    policy_type  vehicle_class
count      1071    1071    954      1071           1071           1071
unique     1071       8      5         6              3              6
top     RB50392  Oregon      F  Bachelor  Personal Auto  Four-Door Car
freq          1     320    457       324            780            576

The customer column contains unique identifiers for each observation and does not provide analytical value for distribution analysis.
The dataset is geographically concentrated, with Oregon representing the largest customer segment. This suggests potential regional concentration in the customer base.
The gender variable contains missing and possibly inconsistent categories. Females represent the largest group; however, data cleaning may be required to standardize gender categories.
Customers with a Bachelor’s degree represent the largest educational group, suggesting a moderately educated customer base.
The dataset is dominated by Personal Auto policies, indicating this is the primary business segment.
Four-door cars represent the majority vehicle class, suggesting standard family-type vehicles dominate the portfolio.

In [72]:
customer_data.describe()

,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount
count,1.068000e+03,1071.000000,1071.000000,1071.0,1071.000000
mean,7.936903e+05,39295.701214,193.234360,1.0,404.986909
std,6.434784e+05,30469.427060,1601.190369,0.0,293.027260
min,2.004351e+05,0.000000,61.000000,1.0,0.382107
25%,4.034080e+05,14072.000000,68.000000,1.0,202.157702
50%,5.881742e+05,36234.000000,83.000000,1.0,354.729129
75%,8.962872e+05,64631.000000,109.500000,1.0,532.800000
max,5.816655e+06,99960.000000,35354.000000,1.0,2893.239678

In [73]:
customer_data[["customer_lifetime_value", "income", "monthly_premium_auto", "number_of_open_complaints", "total_claim_amount"]].median()

customer_lifetime_value      588174.235
income                          36234.0
monthly_premium_auto               83.0
number_of_open_complaints           1.0
total_claim_amount           354.729129
dtype: Float64

In [74]:
customer_data[["customer_lifetime_value", "income", "monthly_premium_auto", "number_of_open_complaints", "total_claim_amount"]].mode().iloc[0]

customer_lifetime_value      251459.2
income                            0.0
monthly_premium_auto             65.0
number_of_open_complaints         1.0
total_claim_amount              321.6
Name: 0, dtype: Float64

Customer lifetime value is highly right-skewed, indicating that a small number of customers generate disproportionately high value. The large spread and high standard deviation suggest significant variability among customers.
Income shows moderate variability and slight positive skewness. There are customers with zero income, which may impact purchasing behavior or risk profiles.
Monthly premium auto is heavily positively skewed due to extreme outliers. The maximum value is disproportionately high compared to the interquartile range, suggesting possible data entry errors or rare high-value cases.
Number of open complaints shows no variability. Every customer has exactly 1 open complaint. This makes it not useful for analysis because it does not differentiate between customers.
Total claim amount shows moderate right skewness, with some high-value claims increasing the average. However, variability appears reasonable compared to other financial variables.

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [77]:
customer_location = customer_data["st"].value_counts()
customer_location

st
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [78]:
customer_location.nsmallest(5)

st
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [84]:
policies_sold = customer_data["policy_type"].value_counts()
top_policy = policies_sold.idxmax()
top_policy_count = policies_sold.max()

print(f"Policies sold by type: ", policies_sold)
print(f"Top policy type: {top_policy} ({top_policy_count} policies)")

Policies sold by type:  policy_type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Top policy type: Personal Auto (780 policies)

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [85]:
personal_auto = customer_data.loc[customer_data["policy_type"] == "Personal Auto"]
average_income_personal_auto = personal_auto["income"].mean()
print(f"Average income for Personal Auto: {average_income_personal_auto:.2f}")

Average income for Personal Auto: 38180.70

In [86]:
corporate_auto = customer_data.loc[customer_data["policy_type"] == "Corporate Auto"]
average_income_corporate_auto = corporate_auto["income"].mean()
print(f"Average income for Corporate Auto: {average_income_corporate_auto:.2f}")

Average income for Corporate Auto: 41390.31

Yes, the customers with Personal Auto have a lower income than those with Corporate Auto.

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here